{% extends 'base.html' %}

{% load static %}

{% block contents %}
<form method="post">
    {% csrf_token %}
        <p>
            　注文数量　<input type="number" id="id_ordercount" size="10" required>
        </p>
    <button type="button" id="buy" class="btn btn-primary">購入</button>
    <font color="red"><span id="message"></span></font>
<table>
    <tr>
        <td>
            <table boader="0" style="box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0)">
                <tbody>
                <tr><th>出品者アドレス</th><td id="id_sellerAddr"></td></tr>
                <tr><th>商品ID</th><td id="id_no">{{ id }}</td></tr>
                <tr><th>商品名</th><td id="id_product"></td></tr>
                <tr><th>価格</th><td id="id_price"></td></tr>
                <tr><th>在庫</th><td id="id_stock"></td></tr>
                <tr><th>説明</th><td id="id_description"></td></tr>
                <tr><th>画像ファイルのURI</th>
                  <td>
                    <div id="loading"><img src="{% static 'img/loading.gif' %}"></div>
                    <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
                    <script type="text/javascript">
                      //コンテンツの非表示
                      $(function(){
                          $('#contents').css('display', 'none');
                      });
                      //ページの読み込み完了後に実行
                      window.onload = function(){
                          $(function() {
                              //ページの読み込みが完了したのでアニメーションはフェードアウトさせる
                              $("#loading").fadeOut();
                              //ページの表示準備が整ったのでコンテンツをフェードインさせる
                              $("#contents").fadeIn();
                          });
                      }
                    </script>
                    <div id="contents">
                      {% if product.image_uri %}
                        <img src={{ product.image_uri }} onerror='this.src="{% static 'img/noimage.png' %}"' width="300" height="auto">
                      {% else %}
                        <img src="{% static 'img/noimage.png' %}" width="300" height="auto">
                      {% endif %}
                    </div>
                    <div id="id_image_uri">
                        {{ product.image_uri }}
                    </div>
                  </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
</form>
<script src="{% static 'js/escapeHTML.js' %}"></script>
<script>
    // 商品情報一覧はセッションストレージにJSON文字列で保存されているのでIDでどの商品か特定する
    var productinfo = JSON.parse(sessionStorage.getItem('ProductsInfo'));
    var target_id = {{ id }};
    var targetList = productinfo.filter((product) => {
        return (product.id === target_id);
    });
    // 通し番号なので一つしかとれないはず
    target = targetList[0];
    document.getElementById("id_sellerAddr").innerHTML = escapeHtml(target['0']);
    document.getElementById("id_product").innerHTML = escapeHtml(target['2']);
    document.getElementById("id_price").innerHTML = escapeHtml(target['4']);
    document.getElementById("id_stock").innerHTML = escapeHtml(target['6']);
    document.getElementById("id_description").innerHTML = escapeHtml(target['3']);
    document.getElementById("id_image_uri").innerHTML = escapeHtml(target['5']);
</script>
<script src="{% static 'js/buy_contract.js' %}"></script>
{% endblock %}
