{% extends 'base.html' %}

{% load static %}
{% block contents %}
  <form method="post">
    {% csrf_token %}
      <input type="hidden" name="confirmed" value="1">
      {% for field in form %}
          {{ field.as_hidden }}
      {% endfor %}

    <ul>
    <li><label>Product:</label><span>{{ product.product_name }}</span></li>
      <li><label>Seller:</label><span>{{ product.seller }}</span></li>
      <li><label>Price:</label><span>{{ product.price }}</span></li>
      <li><label>Stock:</label><span>{{ product.stock }}</span></li>
      <li><label>Description:</label><span>{{ product.description }}</span></li>
      <li><label>GoogleDriveId:</label><span>{{ product.googledocid }}</span></li>
    </ul>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
    <script type="text/javascript">
      <!--
    //コンテンツの非表示
    $(function(){
        $('#contents').css('display', 'none');
    });
    //ページの読み込み完了後に実行
    window.onload = function(){
        $(function() {
            //ページの読み込みが完了したのでアニメーションはフェードアウトさせる
            $("#loading").fadeOut();
            //ページの表示準備が整ったのでコンテンツをフェードインさせる
            $("#contents").fadeIn();
        });
    }
      //-->
    </script>
    <div id="loading"><img src="{% static 'img/loading.gif' %}"></div>
    <div id="contents">
      <img src="https://drive.google.com/uc?export=download&id=1MSvVpW-mXXKpNWiE5d43EVfBxwbcIXoQ" width="400" height="auto">
    </div>
    <a href="{% url 'products:list' %}">Back</a>
    <input type="submit" class="btn btn-primary" value="Commit">
  </form>
{% endblock %}
