{% extends 'base.html' %}

{% load static %}

{% block contents %}
<form method="post">
    {% csrf_token %}
<table>
    <tr>
        <td>
            <table boader="0" style="box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0)">
                <tbody>
                <tr><th>商品ID</th><td id="id_no">{{ id }}</td><td>{{ id }}</td></tr>
                <tr><th>商品名</th><td id="id_product"></td><td>{{ form.product_name }}</td></tr>
                <tr><th>価格</th><td id="id_price"></td><td>{{ form.price }}</td></tr>
                <tr><th>在庫</th><td id="id_stock"></td><td>{{ form.stock }}</td></tr>
                <tr><th>説明</th><td id="id_description"></td><td>{{ form.description }}</td></tr>
                <tr><th>画像ファイルのURI</th><td id="id_image_uri"></td><td>{{ form.image_uri }}</td></tr>
                </tbody>
            </table>
        </td>
    </tr>
</table>
    <input type="submit" class="btn btn-primary" value="確認">
    <button type="button" id="delete" class="btn btn-primary">削除</button>
</form>
<font color="red"><span id="message"></span></font>

<script src="{% static 'js/edit_contract.js' %}"></script>
<script src="{% static 'js/escapeHTML.js' %}"></script>
<script>
    // 商品情報一覧はセッションストレージにJSON文字列で保存されているのでIDでどの商品か特定する
    var productinfo = JSON.parse(sessionStorage.getItem('ProductsInfo'));
    var target_id = {{ id }};
    var targetList = productinfo.filter((product) => {
        return (product.id === target_id);
    });
    // 通し番号なので一つしかとれないはず
    target = targetList[0];
    document.getElementById("id_product").innerHTML = escapeHtml(target['2']);
    document.getElementById("id_price").innerHTML = escapeHtml(target['4']);
    document.getElementById("id_stock").innerHTML = escapeHtml(target['6']);
    document.getElementById("id_description").innerHTML = escapeHtml(target['3']);
    document.getElementById("id_image_uri").innerHTML = escapeHtml(target['5']);
</script>
{% endblock %}
