{% extends "base.html" %}

{% load static %}

{% block contents %}
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
    <tr align="center">
        <th scope="col">Command</th>
        <th scope="col">No</th>
        <th scope="col">Product</th>
        <th scope="col">Seller</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">SellerAddr</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
      <tr class="table-light" align="center">
          <td>
              <script>
              // 自分が出品している商品ならEdit、他人が出品している商品ならBuy、未ログインなら空
              // 商品IDを次の画面にクエリパラメータとして渡す
                if (localStorage.getItem('vipsmarket_address')=={{ product.0 }}){
                    document.write("<a href='{% url "products:edit" %}?id={{ product.7 }}'>Edit</a>");
                } else if (!localStorage.getItem('vipsmarket_address')){
                    ;
                } else {
                    document.write("<a href='#'>Buy</a>");
                }
                </script>
          </td>
          <td>{{ product.7 }}</td>
          <td>{{ product.2 }}</td>
          <td>{{ product.1 }}</td>
          <td>{{ product.4 }}</td>
          <td>{{ product.6 }}</td>
          <td>{{ product.0 }}</td>
      </tr>
    </tbody>
    {% endfor %}
</table>
<ul class="pagination">
  {% if products.has_previous %}
    <li><a class="page-link text-primary d-inline-block" href="?page={{ products.previous_page_number }}">＜</a></li>
  {% else %}
    <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">＜</div></li>
  {% endif %}

    {% for link_page in products.paginator.page_range %}
        {% if link_page %}
            {% if link_page == products.number %}
                <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ link_page }}</div></li>
            {% else %}
                <li><a class="page-link text-primary d-inline-block" href="?page={{ link_page }}">{{ link_page }}</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted" href="#">・・・</a></li>
        {% endif %}
    {% endfor %}

    {% if products.has_next %}
        <li><a class="page-link text-primary d-inline-block" href="?page={{ products.next_page_number }}">＞</a></li>
    {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">＞</div></li>
    {% endif %}
</ul>
{% endblock %}