{% extends "base.html" %}

{% load static %}

{% block contents %}
<input type="button" id="id_Search" class="btn btn-primary" value="自分の商品のみ表示" >
<input type="button" id="id_All" class="btn btn-primary" value="全件表示">
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
    <tr align="center">
        <th scope="col"></th>
        <th scope="col">　　　</th>
        <th scope="col">商品ID</th>
        <th scope="col">商品名</th>
        <th scope="col">出品者</th>
        <th scope="col">価格</th>
        <th scope="col">在庫</th>
        <th scope="col">出品者アドレス</th>
    </tr>
    </thead>
    <tbody>
    {% for product in products %}
      <tr class="table-light" align="center">
          <td>
              <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
              <div id="contents">
                {% if product.5 %}
                  <img src={{ product.5 }} onerror='this.src="{% static 'img/noimage.png' %}"' width="auto" height="70">
                {% else %}
                  <img src="{% static 'img/noimage.png' %}" width="70" height="auto">
                {% endif %}
              </div>
          </td>
          <td style="vertical-align:middle;">
              <script>
              // 自分が出品している商品なら編集、他人が出品している商品なら購入、未ログインなら空
              // 商品IDを次の画面にクエリパラメータとして渡す
                if (localStorage.getItem('vipsmarket_address')=={{ product.0 }}){
                    document.write("<a href='{% url "products:edit" %}?id={{ product.id }}'>編集</a>");
                } else if (!localStorage.getItem('vipsmarket_address')){
                    ;
                } else {
                    document.write("<a href='{% url "products:buy" %}?id={{ product.id }}'>購入</a>");
                }
                </script>
          </td>
          <td style="vertical-align:middle;">{{ product.id }}</td>
          <td style="vertical-align:middle;">{{ product.2 }}</td>
          <td style="vertical-align:middle;">{{ product.1 }}</td>
          <td style="vertical-align:middle;">{{ product.4 }}</td>
          <td style="vertical-align:middle;">{{ product.6 }}</td>
          <td style="vertical-align:middle;">{{ product.0 }}</td>
      </tr>
    </tbody>
    {% endfor %}
</table>
<ul class="pagination">
  {% if products.has_previous %}
    <li><a class="page-link text-primary d-inline-block" href="?page={{ products.previous_page_number }}">＜</a></li>
  {% else %}
    <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">＜</div></li>
  {% endif %}

    {% for link_page in products.paginator.page_range %}
        {% if link_page %}
            {% if link_page == products.number %}
                <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">{{ link_page }}</div></li>
            {% else %}
                <li><a class="page-link text-primary d-inline-block" href="?page={{ link_page }}">{{ link_page }}</a></li>
            {% endif %}
        {% else %}
            <li class="disabled"><a class="page-link text-secondary d-inline-block text-muted" href="#">・・・</a></li>
        {% endif %}
    {% endfor %}

    {% if products.has_next %}
        <li><a class="page-link text-primary d-inline-block" href="?page={{ products.next_page_number }}">＞</a></li>
    {% else %}
        <li class="disabled"><div class="page-link text-secondary d-inline-block disabled" href="#">＞</div></li>
    {% endif %}
</ul>
{% if messages %}
{% for message in messages %}
    <script>
        window.alert("{{ message }}");
    </script>
    {% endfor %}
{% endif %}

<script src="{% static 'js/search_product.js' %}"></script>
{% endblock %}