{% extends 'base.html' %}

{% load static %}

{% block contents %}
  <form id="sell_form" method="post">
    {% csrf_token %}
      <input type="hidden" name="confirmed" value="1">
      {% for field in form %}
          {{ field.as_hidden }}
      {% endfor %}
    <table>
      <tbody>
      <tr><th>商品名</th><td id="id_product_name">{{ product.product_name }}</td></tr>
      <tr><th>価格</th><td id="id_price">{{ product.price }}</td></tr>
      <tr><th>在庫</th><td id="id_stock">{{ product.stock }}</td></tr>
      <tr><th>説明</th><td id="id_description">{{ product.description }}</td></tr>
      <tr><th>画像ファイルのURI</th>
        <td>
        <div id="loading"><img src="{% static 'img/loading.gif' %}"></div>
          <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
          <script type="text/javascript">
            //コンテンツの非表示
            $(function(){
                $('#contents').css('display', 'none');
            });
            //ページの読み込み完了後に実行
            window.onload = function(){
                $(function() {
                    //ページの読み込みが完了したのでアニメーションはフェードアウトさせる
                    $("#loading").fadeOut();
                    //ページの表示準備が整ったのでコンテンツをフェードインさせる
                    $("#contents").fadeIn();
                });
            }
          </script>
      <div id="contents">
        {% if product.image_uri %}
          <img src={{ product.image_uri }} onerror='this.src="{% static 'img/noimage.png' %}"' width="300" height="auto">
        {% else %}
          <img src="{% static 'img/noimage.png' %}" width="300" height="auto">
        {% endif %}
      </div>
        <div id="id_image_uri">
            {{ product.image_uri }}
        </div>
      </td></tr>
      </tbody>
    </table>
    <font color="red"><span id="message"></span></font>
    <button type="button" id="exhibit" class="btn btn-primary">確定</button>
    <a href="javascript:history.back()">戻る</a>
  </form>
<script src="{% static 'js/exhibit_contract.js' %}"></script>
{% endblock %}
