{% extends 'base.html' %}

{% load static %}

{% block contents %}
<form method="post">
    <table>
        {% csrf_token %}
        <tbody>
        <tr><th>Product</th><td>{{ form.product_name }}</td></tr>
        <tr><th>Price</th><td>{{ form.price }}</td></tr>
        <tr><th>Stock</th><td>{{ form.stock }}</td></tr>
        <tr><th>Description</th><td>{{ form.description }}</td></tr>
        <tr><th>GoogleDriveId</th><td>{{ form.googledocid }}</td></tr>
        </tbody>
    </table>
    <input type="submit" class="btn btn-primary" value="Confirm">
</form>

{% endblock %}
