{% extends "base.html" %}

{% load static %}

{% block contents %}
<table class="table table-bordered table-hover table-striped">
    <thead class="thead-dark">
    <tr align="center">
        <th scope="col">　</th>
        <th scope="col">ユーザ名</th>
        <th scope="col">メールアドレス</th>
        <th scope="col">平均評価（1～5)</th>
        <th scope="col">評価された回数</th>
        <th scope="col">VIPSアドレス</th>
    </tr>
    </thead>
</table>
<form id="getUsers_form" method="post">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <input type="hidden" id="Items" name="prm">
</form>
<script src="{% static 'js/getuser_contract.js' %}"></script>
{% endblock %}