{% extends 'base.html' %}

{% load static %}

{% block contents %}

  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-12 bg-light">
      <p class="card">
      <h3 class="card-title">Modify Account</h3>
        <div class="card-body">
          <p class="card-text"><b>Username_now:</b><div id="username_now"></div></p>
          <p class="card-text"><b>Email address_now:</b><div id="mailaddress_now"></div></p>
        </div>
          <form id="modifyAccount_form" method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button id="modifyAccount" type="button" class="btn btn-primary btn-block">Modify an account</button>
            <font color="red"><span id="message"></span></font>
          </form>
        </div>
      </div>
    </div>
  </div>
<script src="{% static 'js/modify_contract.js' %}"></script>
{% endblock %}
