{% extends 'base.html' %}

{% load static %}

{% block contents %}

  <div class="row justify-content-center" >
    <div class="col-lg-6 col-md-10 col-sm-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">サインアップ</h3>
          <form id="signup_form" method="post" novalidate style="margin-bottom:20px;">
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="button" id="signup" class="btn btn-primary btn-block">OK</button>
            <font color="red"><span id="message"></span></font>
          </form>
          <form id="mailtest_form" method="post" target="mailtest">
            {% csrf_token %}
            <input type="hidden" name="mailtest_flag" value="1">
            <input type="hidden" id="id_test_emailaddress" name="test_emailaddress">
            <input type="hidden" id="id_test_emailpassword" name="test_emailpassword">
            <button type="button" id="id_mailtest" class="btn btn-success btn-block">メールアドレスの確認</button>
          </form>
          <iframe name="mailtest" width="100%" height="50"></iframe>
        </div>
      </div>
    </div>
  </div>
<script src="{% static 'js/signup_contract.js' %}"></script>
{% endblock %}